.navbar-logo{
    background-color: black;
    border-radius: 50%;
    color: white;
    padding: 10px;
}
nav{
    background-color: rgba(0, 0, 0, 0.2);
} 

.dark-light-theme{
    margin-right: 15px;
    margin-left: auto;
}