

    <footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Linkedin -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.youtube.com/watch?v=jS4aFq5-91M" target="_blank" role="button">
            <i class="bi bi-linkedin"></i>
        </a>
        <!-- Github -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button">
            <i class="bi bi-github"></i>
        </a>
        <p class="text-dark">Für Fragen stehe ich gerne zur Verfügung unter alexander.wutscher@chello.at</p>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright: Alexander Wutscher
    </div>
    <!-- Copyright -->
  </footer>
